:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: oklch(0.81 0 89.88);
  --b2: oklch(0.16 0 0);
  --b3: oklch(.3 0 0);
  --b4: oklch(.36 0 0);
  --b5: oklch(.42 0 0);

  --line: oklch(0.28 0 0);
  background-color: var(--b2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --public: rgb(135, 154, 57);
  --private: rgb(209, 77, 65);
  --closed: rgb(87, 86, 83);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
}

html,
body {
  height: 100%;
  height: 100dvh;
  /* overflow: clip; */
  overflow-x: hidden;
  width: 100svw;
  overscroll-behavior-y: contain;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  /* cursor: pointer; */
  transition: border-color 0.25s;
}

.btn {
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  text-align: center;
  color: white;

  :hover {
    border-color: #bbb;
  }
}

* {
  margin: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #eeeeee;
  }

  button {
    background-color: #f9f9f9;
  }
}
kbd {
  background: var(--b4); 
  padding: .25rem .5rem;
  margin-inline-start: .5rem;
  border-radius: .25rem;
}
